<style>
  nav a {
    color: white;
    text-decoration: none !important;
    font-weight: 400;
    transition: all 0.3s ease-out;
  }

  nav a:hover {
    transform: translateY(-5px);
  }
</style>

<header class="px-4 d-none d-md-block" style="z-index: 999;">
  <nav class="d-flex justify-content-between">
    <div>
      <a href="/index"><img src="./images/mvlogo.png" width="100" height="30" alt="Company Logo"></a>
    </div>
    <div class="d-flex align-items-center gap-3">
      <div class="d-flex gap-5">
        <a href="/index/about">About us</a>
        <a href="/index/teams">Teams</a>
        <a href="/index/join_us">Career</a>
        <a href="/index/contact_us">Contact us</a>
      </div>
      <div class="d-flex gap-1 align-items-center">
        <input type="text" placeholder="<%= index.search_placeholder || 'Search here...' %>" class="form-control m-0"
          aria-label="Search input" style="max-width: 150px;">
        <button class="btn btn-primary" aria-label="Search">
          <%= index.search_button_text || 'Search' %>
        </button>
      </div>
    </div>
  </nav>
</header>

<header class="d-flex d-md-none m-0 p-0" style="z-index: 999;">
  <nav class="w-100 d-flex flex-column flex-md-row justify-content-between">
    <div class="d-flex p-2 justify-content-between w-100">
      <div>
        <a href="/index"><img src="./images/mvlogo.png" width="100" height="30" alt="Company Logo"></a>
      </div>
      <div>
        <div class="d-flex gap-1 align-items-center">
          <input type="text" placeholder="<%= index.search_placeholder || 'Search here...' %>" class="form-control m-0"
            aria-label="Search input" style="max-width: 150px;">
          <button class="btn btn-primary" aria-label="Search">
            <%= index.search_button_text || 'Search' %>
          </button>
        </div>
      </div>
    </div>

    <div class="d-flex align-items-center bg-dark px-2 gap-3">
      <div class="d-flex gap-5">
        <a href="/index/about">About us</a>
        <a href="/index/teams">Teams</a>
        <a href="/index/join_us">Career</a>
        <a href="/index/contact_us">Contact us</a>
      </div>

    </div>
  </nav>
</header>


<!-- <header>
  <nav>
    <ul class="menu">
      <li class="logo_li">
        <a href="#"><img src="./images/mvlogo.png" width="100" height="30" alt="Company Logo"></a>
      </li>
      <li><a href="/index/about">ABOUT US</a></li>
      <li><a href="/index/teams">TEAMS</a></li>
      <li><a href="/index/join_us">CAREER</a></li>
      <li><a href="/index/contact_us">CONTACT US</a></li>

      <li class="search-container">
        <input type="text" placeholder="<%= index.search_placeholder || 'Search here...' %>" class="search-input form-control"
          aria-label="Search input">
        <button class="search-icon" aria-label="Search">
          <%= index.search_button_text || 'Search' %>
        </button>
      </li>
    </ul>
  </nav>
</header> -->